*{
    margin: 0;padding: 0;box-sizing: border-box;
}

.container{
    height:auto;
    width: 100%;
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    align-items: center;
}

.title_container{
    margin-top:50px;
}

.main_container{
    margin: 50px 0px;
    border:1px solid gray;
    border-radius: 10px;
    width: 50%;
    padding:30px;
}
.input_container{
    display: flex;
    
}
.input_container {
    display: flex;
    
}
.main_inner_container{
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
}
.inner_container{
    margin-bottom: 30px;
    text-align: start;
}
.inputbox{
    margin-right: 20px;
}
.gender_container{
    display:flex;
    flex-direction: row;
    align-items: center;

}
 label{
    margin-right:20px;
    font-size: 18px;
}
.experience .input_cont{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.experience .experience_title{
    margin-bottom: 20px;
}

.experience div{
    margin-right: 5px;
}
.address_container div{
    margin-bottom: 10px;
    margin-right: 2px;
}

.resume_container input{
    margin-bottom: 20px;
}

.choose::-webkit-file-upload-button {
    color: white;
    display: inline-block;
    background: #979797;
    border: none;
    padding: 7px 15px;
    font-weight: 700;
    border-radius: 3px;
    white-space: nowrap;
    cursor: pointer;
    font-size: 10pt;
  }
.save_btn_container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
  .savebtn{
    border:none;
    padding:20px 40px;
    transition:500ms cubic-bezier(0.075, 0.82, 0.165, 1);
  }
  .savebtn:hover{
      color:white;
      background-color: rgb(44, 44, 44);
  }